* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.container {
    height: 100vh; 
    border: 3px solid red;
    display: flex;
}
.bar{
    height:99vh;
    width:20vh;
    background-color: #9ed0f3;
}