* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    height: 100vh; 
    border: 3px solid red;
    display: flex;
    justify-content: start;
    align-items: start;
}


.close{
    position: absolute;
    top: 10px;
    right: 10px;
    
    background-color: #e9a3b5;
    color: black;

    border: none;
    border-radius: 5px;

    padding: 5px 10px;

    cursor: pointer; 
}

.bar{
    height: 99vh;
    width: 20vh;
    background-color: #9ed0f3;
    position: relative;
}