* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 95vh;
    width: 90vw;

    border: 3px solid red;

    display: flex;
}