* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn1 button{
    
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    padding: 10px 20px;
    background-color: #e83d69;
    
}
#btn2{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: blue;
    
}
#btn3{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: green;
}
#btn4{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
#btn5{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
