* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
    height:100vh;
    background-color: rgb(103, 104, 165);
    display: flex;
    /* align-items: start;
    gap: 2rem; */
    flex-direction: column;
}
header{
  padding: 0 2rem;
  height: 3rem;
  width:100%;
  
  background-color: rgb(238, 241, 238);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    cursor: pointer;
    
}
.btn1{
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn2{
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn1:hover{
    background-color: rgb(27, 146, 33);
    color: white;
}
.btn2:hover{
    background-color: rgb(27, 146, 33);
    color: white;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.student-count{
    margin-top: 40px;
    font-size: 1rem;
    color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}
.student-count:hover{
    background-color: rgb(51, 41, 202);
    color: white;
}
.seto{
    color: white;
    font-size: 3rem;
}
.rato{
    color: rgb(211, 118, 118);
    font-size: 3rem;
}
.paragraph{
    margin-top: 20px;
    color:white;

}
.hero-btn{
    margin-top: 20px;
}
.paragraph span {
    margin-left: 27px;
}

.brow{
    padding: 0.5rem 1rem;
    margin-top: 40px;
    font-size: 1rem;
    background-color: rgb(224, 32, 32);
    color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    
}
.demo{
    padding: 0.5rem 1rem;
    margin-top: 40px;
    font-size: 1rem;
    color: white;
    background-color: rgb(4, 3, 24);
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}