* {
  padding: 0;
  margin: 0;
}
.container{
    height:100vh;
    background-color: rgb(126, 34, 34);
    display: flex;
    align-items: start;
    gap: 2rem;
}
header{
  padding: 0 2rem;
  height: 3rem;
  width:90rem;
  
  background-color: rgb(27, 146, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    cursor: pointer;
    
}
.btn1{
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn2{
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn1:hover{
    background-color: rgb(27, 146, 33);
    color: white;
}
.btn2:hover{
    background-color: rgb(27, 146, 33);
    color: white;
}
section{
    display:wrap;
}