*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
  border: 2px solid black;
  padding:50px;
  background-color: aqua;
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
}
.one{
    height: 26.8rem;
    width: 22rem;
    background-color: rgb(18, 70, 70);
    border: 2px solid black;
}
.img{
    height: 12.5rem;
    width: 21.8rem;
    background-color: brown;
    
}
.watch{
    height: 14rem;
    width: 21.8rem;
    
}
.title{
    height: 14.1rem;
    width: 21.8rem;
    background-color: rgb(14, 15, 126);
}
h1{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 3rem;
}
h3{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding-top: 1rem;
}
.rating{
    height: 1.5rem;
    width: 21.8rem;
    text-align: center;
}
button{
    padding:10px;
    /* padding: 0.6rem 1.6rem; */
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.btn{
    justify-content: center;
  text-align: center;
}